[user]
	name = Steve Jarvis
	email = steve.jarvis@auth0.com
[color]
	ui = auto
[core]
    editor = emacs
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = current
[pack]
	window = 0
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[merge]
	tool = meld
